<?xml version="1.0"?>
<robot name="avatar_gripper_3f_model" xmlns:xacro="http://ros.org/wiki/xacro">  
  <xacro:if value="$(arg mimic)">
    <xacro:include filename="$(find avatar_gripper_description)/urdf/avatar_gripper_3f_macro.xacro" />
  </xacro:if>
  <xacro:unless value="$(arg mimic)">
    <xacro:include filename="$(find avatar_gripper_description)/urdf/avatar_gripper_3f_macro_nomimic.xacro" />
  </xacro:unless>

  <xacro:macro name="attach_gripper" params="connected_to:='' arm_id='panda' gripper_prefix:='' rpy:='0 0 0' xyz:='0 0 0'">
    <xacro:unless value="${connected_to == ''}">
      <joint name="${arm_id}_gripper_joint" type="fixed">
        <parent link="${connected_to}" />
        <child link="${gripper_prefix}_gripper_base" />
        <origin xyz="${xyz}" rpy="${rpy}" />
      </joint>
    </xacro:unless>    
  </xacro:macro>
</robot>