<?xml version="1.0" ?>
<launch>
  <arg name="mimic" default="true"/>
  <arg name="prefix" default="right"/>
  <arg name="motor_base_attach_to" default="right_gripper_base"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find avatar_gripper_description)/urdf/avatar_gripper_3f_example.xacro mimic:=$(arg mimic) prefix:=$(arg prefix) motor_base_attach_to:=$(arg motor_base_attach_to)" />

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap unless="$(arg mimic)" from="joint_states" to="/avatar_joint_states"/>
  </node>
  <node unless="$(arg mimic)" name="avatar_joint_state_publisher" pkg="avatar_robot_description" type="avatar_joint_state_publisher.py" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find avatar_gripper_description)/rviz/test_gripper_right.rviz" required="true" />
  <!-- Save urdf -->
  <node name="urdf_saver" pkg="avatar_gripper_description" type="generate_gripper_urdf.sh" output="screen" args="$(find avatar_gripper_description)"/>
</launch>
